<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="">
            <h1 style="color: whitesmoke">Jobs</h1>
        </div>
    </div>
    <div class="row">
        <div class="">
            <table class="table table-bordered" style="background-color:whitesmoke">
                <thead style="background-color: darkorange;color: whitesmoke">
                    <tr>
                        <th>Job Id</th>
                        <th>Category</th>
                        <th>Team</th>
                        <th>Description</th>
                        <th>Posted On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let job of jobsDetails.jobs">
                        <td>{{job.jId}}</td>
                        <td>{{ job.category.categoryName }}</td>
                        <td>{{ job.team.name }}</td>
                        <td>{{ job.description }}</td>
                        <td>{{ job.postedOn|date }}</td>
                        <td>
                            <button class="btn btn-success" (click)="applyJob(job)">
							<span class="glyphicon glyphicon-check"></span> Apply
						    </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>