target/
.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

backend/target
backend/bin/
backend/node_modules
backend/.checkstyle
backend/.DS_Store

frontend/target
frontend/src/main/frontend/node
frontend/src/main/frontend/node_modules
.DS_Store
npm-debug.log

