<div class="container">
    <div class="row">
        <div class="col-lg-offset-2">
            <h2>New Job</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-2" style="background-color: whitesmoke;padding-top: 10px;padding-bottom: 10px;border-radius: 5px">
            <form #me="ngForm" (ngSubmit)="onSubmit()">
                <br>
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1">
                        <label class="control-label">Category: </label>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2">
                        <select type="select" id="categoryId" ngControl="categoryId" class="form-control" name="cid" [(ngModel)]="job.categoryId"
                            required>
                        <option *ngFor="let category of categories" [value]="category.cid">{{category.categoryName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1">
                        <label class="control-label">Team: </label>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2">
                        <select type="select" id="teamId" ngControl="teamId" class="form-control" name="teamId" [(ngModel)]="job.teamId" required>
                        <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1">
                        <label class="control-label">Description:</label>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2">
                        <input type="textarea" id="description" name="description" [(ngModel)]="job.description" class="form-control" rows="6" cols="50"
                            maxlength="200" required/>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <br>
                    <div class="col-lg-2 col-lg-offset-4">
                        <button class="btn btn-primary form-control" type="submit" [disabled]="!me.form.valid">Add</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-danger form-control" (click)="goBack()">Cancel</button>
                    </div>
                </div>
            </form>

            <!--<form (ngSubmit)="submitplz()">
                <input type="text" ngControl="description" [(ngModel)]="job.description" required #name="ngModel"/>
                <button type="submit">submit</button>
            </form>-->
        </div>
    </div>
</div>